{% extends 'home/base.html' %}
{% load static i18n %}

{% block content %}

<section id="services">
	<div class="container mt-5">
		<img class="cource_img" src="/media/ma_1.jpg"/>
		<div class="row">
			<div class="col">
				<div class="box wow fadeInRight">
					<h4>{% trans "Course Name" %}</h4>
					<h6>{% trans "Diploma in Buddhism" %}</h6>
					<br>
					<h4>{% trans "Course Content" %}</h4>
					<div>
						<li>{% trans "Early Buddhism - Basic Doctrines" %}</li>
						<li>{% trans "Buddhist Social Dimensions" %}</li>
						<li>{% trans "Geographical Expansion of Theravada Buddhism" %}</li>
						<li>{% trans "Early History of Buddhism up to 3rd Century B.C." %}</li>
						<li>{% trans "Pali Qualifying Paper (Optional)" %}</li>
					</div>
					<br>
					<h4>{% trans "Eligibility" %}</h4>
					<h6>{% trans "Above 18 years of age. Ability to read and write English. Some basic knowledge of Buddhism would be an advantage." %}</h6>
					<br>
					<h4>{% trans "Fees" %}</h4>
					<div>
						<li>{% trans "¥5,700 - Registration Fees - Buddhist and Pali University, Sri Lanka (in USD only)" %}</li>
						<li>{% trans "¥18.720 - Maintenance Fees - BPCHT" %}</li>
						<li>{% trans "¥10,400 - Examination Fees - Buddhist and Pali University, Sri Lanka (in USD only)" %}</li>
					</div>
					<br>
					<h4>{% trans "Registration Date" %}</h4>
					<h6>{% trans "1 Aug to 30 Sep" %}</h6>
					<br>
					<h4>{% trans "How To register" %}</h4>
					<h6>{% trans "Required documents:" %}</h6>
					<div>
						<li>{% trans "Application form" %} <a href="/media/test.pdf" download="/media/test.pdf">{% trans "(Click here to download the Application)" %}</a></li>
						<li>{% trans "CV/Personal resume *Free format, 1-3 sheets of A4 paper" %}</li>
						<li>{% trans "Copy of receipt of the application fee" %}</li>
						<li>{% trans "Passport copy (non-Japanese applicants only)" %}</li>
						<li>{% trans "Residence card copy [both sides] (non-Japanese applicants residing in Japan only)" %}</li>
						<li>{% trans "Other education certificates" %}</li>
					</div>
					<br>
					<h6>{% trans "After completing the required documents, send them into the following address in register mail." %}</h6>
					<h6 class="font-weight-bold">Buddhist and Pali College of Hachioji, Tokyo<br>
					C/o Sakamuni International Buddhist Center<br>
					Shouzanji 1693-2 Yamatamachi, Hachioji-shi, Tokyo 193-0933" %}</h6>
					<br>
					<h4>{% trans "Remarks" %}</h4>
					<h6>{% trans "Successful candidates are eligible to proceed to the 3-year Bachelor of Arts (BA) and then the 1-year Master of Arts (MA) in Buddhist Studies." %}</h6>
				</div>
			</div>
		</div>
	</div>

</section>
{% endblock %}
