{% extends 'home/base.html' %}

{% block content %}

<section id="services">
	<div class="container mt-5">
		<img class="cource_img" src="/media/mphil.jpg"/>
		<div class="row">
			<div class="col">
				<div class="box wow fadeInRight">
					<h4>Course Name</h4>
					<h6>Diploma in Buddhism</h6>
					<br>
					<h4>Course Content</h4>
					<div>
						<li>Early Buddhism - Basic Doctrines</li>
						<li>Buddhist Social Dimensions</li>
						<li>Geographical Expansion of Theravada Buddhism</li>
						<li>Early History of Buddhism up to 3rd Century B.C.</li>
						<li>Pali Qualifying Paper (Optional)</li>
					</div>
					<br>
					<h4>Eligibility</h4>
					<h6>Above 18 years of age. Ability to read and write English. Some basic knowledge of Buddhism would be an advantage.</h6>
					<br>
					<h4>Fees</h4>
					<div>
						<li>¥5,700 - Registration Fees - Buddhist and Pali University, Sri Lanka (in USD only)</li>
						<li>¥18.720 - Maintenance Fees - BPCHT</li>
						<li>¥10,400 - Examination Fees - Buddhist and Pali University, Sri Lanka (in USD only)</li>
					</div>
					<br>
					<h4>Registration Date</h4>
					<h6>1 Aug to 30 Sep</h6>
					<br>
					<h4>How To register</h4>
					<h6>Required documents:</h6>
					<div>
						<li>Application form <a href="/media/test.pdf" download="/media/test.pdf">(Click here to download the Application)</a></li>
						<li>CV/Personal resume *Free format, 1-3 sheets of A4 paper</li>
						<li>Copy of receipt of the application fee</li>
						<li>Passport copy (non-Japanese applicants only)</li>
						<li>Residence card copy [both sides] (non-Japanese applicants residing in Japan only)</li>
						<li>Other education certificates</li>
					</div>
					<br>
					<h6>After completing the required documents, send them into the following address in register mail.</h6>
					<h6 class="font-weight-bold">Buddhist and Pali College of Hachioji, Tokyo<br>
					C/o Sakamuni International Buddhist Center<br>
					Shouzanji 1693-2 Yamatamachi, Hachioji-shi, Tokyo 193-0933</h6>
					<br>
					<h4>Remarks</h4>
					<h6>Successful candidates are eligible to proceed to the 3-year Bachelor of Arts (BA) and then the 1-year Master of Arts (MA) in Buddhist Studies.</h6>
				</div>
			</div>
		</div>
	</div>

</section>
{% endblock %}
