{% extends 'home/base.html' %}
{% load static i18n %}

{% block content %}
	<section id="services">
		<div class="container">
			<div class="section-header">
				<h2>{% trans "Add Comment" %}</h2>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<form method="post">
							{% csrf_token %}
							<div class="form-group">
								<label for="exampleInputEmail1">{% trans "Name" %}</label>
								{{ form.name }}
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">{% trans "Comment" %}</label>
								{{ form.body }}
							</div>
							<div class="form">
								<a href="{% url 'detail' slug=blog.slug %}"><button type="submit">{% trans "Add Comment" %}</button></a>
							</div>
							<div class="mt-3 mb-2">
							<a href="{% url 'detail' slug=blog.slug %}" class="btn" type="submit">{% trans "Back" %}</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</section><!-- #services -->

{% endblock %}
