{% extends 'home/base.html' %}

{% block content %}

	      <section id="services">
		      <div class="container">
			      <div class="section-header">
				      <h2>Blog</h2>
				      <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
			      </div>

			      <div class="row">
			      {% for blog in blogs %}
				      <div class="">
					      <div class="box wow fadeInRight">
						      <div class="icon pr-5"><img class="blog_img" src="{{ blog.thumb.url }}"/></div>
						      <h4 class="title"><a href="{% url 'detail' slug=blog.slug %}">{{ blog.title }}</a></h4>
						      <p class="description">{{ blog.snippet }}</p>
					      </div>
				      </div>
			      {% endfor %}

			      </div>
			      {% for post in context %}
			      		<h3> {{post.title}} </h3>
					<img class="pdf_img" src="/media/pdf.png">
					</br>
					<a href="{{ post.pdf.url }}" download="{{ post.pdf.url }}">Download</a>
			      {% endfor %}
				
			      <!--
			      <div class="container">
				      <div class="row">
					      <div class="col-8">
						      {% for blog in blogs %}
						      <div class="blog pt-5">
							      <img class="blog_img" src="{{ blog.thumb.url }}"/>
							      <h2><a href="{% url 'detail' slug=blog.slug %}"> {{ blog.title }}</a></h2>
							      <h5>{{ blog.snippet }}</h5>
							      <a href="https://www.facebook.com/sharer/sharer.php?u=http://contactus.dreamdelight.co.jp/blog/">
								      <img class="logo_img" src="/static/fb2.png"/>
							      </a>
							      <a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20http://contactus.dreamdelight.co.jp/blog/">
								      Share on Twitter
							      </a>
							      <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://swiftforentrepreneurs.com/&title=Be%20first%20%7C%20Join%20Swift%20for%20Entrepreneurs&summary=Swift%20for%20Entrepreneurs%20is%20a%20project-based%20programming%20course%20for%20non-technical%20founders.%20We'll%20learn%20how%20to%20build%20iOS%20apps%20from%20scratch%20using%20Apple's%20new%20programming%20language:%20Swift.%20Be%20first%20and%20learn%20with%20me!&source=http://swiftforentrepreneurs.com/">
								      Share on Linkedin
							      </a>
							      <h3>Comments...</h3>
							      {% if not blog.comments.all %}
							      No comments yet
							      {% else %}
							      {% for comment in blog.comments.all %}
							      <strong> {{ comment.name }} - {{ comment.date_added }} </strong>
							      <br/>
							      {{ comment.body }}
							      <br/>
							      {% endfor %}
							      {% endif %}
						      </div>
						      {% endfor %}
					      </div>
					      <div class="col-4 pl-3 pt-5">
						      {% for blog in blogs %}
						      <div class="blog">
							      <h5>{{ blog.title }}</h5>
						      </div>
						      {% endfor %}
					      </div>
				      </div>
			      </div>
			      -->
		      </div>
		      
	      </section><!-- #services -->

{% endblock %}
