{% extends 'home/base.html' %}

{% block content %}

<section id="services">
	<div class="container pt-5">
		<div class="row">
			<div class="col">
				<div class="box wow fadeInRight">
					<h4>Announcing the Launch of Our New Website</h4>
					<h6>We are delighted to announce the launch of our website for Buddhist and Pali College Hachioji Tokyo (BPCHT) on 5th Jan 2021. The new site launch is available, and the URL is www.bpcht.org.</h6>
					<h6>Our goal with this new website is to quickly provide information about available courses and link with other institutions to promote BPCHT.</h6>
					<h6>Currently, the site is only in English and expected to an extent in both Japanese and Sinhalese.</h6>
					<h6>Moreover, the website is provided with the courtesy of Dream Delight, Inc., and we would like to offer our heartful gratitude for their kind contribution.</h6>
					<br>
					<img class="notice_img" src="/media/home_page.png"/>
					<br>
					<br>
					<h5>Parent institute</h5>
					<li>Buddhist and Pali University of Sri Lanka <a href="http://www.bpu.ac.lk">(http://www.bpu.ac.lk)</a></li>
					<br>
					<h5>Other Sistering institutes</h5>
					<li>The Buddhist and Pali College of Singapore <a href="https://mv.org.sg/group/buddhist-and-pali-college">(https://mv.org.sg/group/buddhist-and-pali-college/)</a></li>
					<br>
					<h6>For any questions, suggestions, feedback, or comments, please contact us today.  Thank You!</h6>  
					<br>
					<h5>Contact:</h5>
					<h6>Buddhist and Pali College Hachioji Tokyo (BPCHT)</h6>
					<h6>Mail: bpcht.japan@gmail.com / Phone: ＋81‐42-667-7042</h6>
				</div>
			</div>
		</div>
	</div>

</section>
{% endblock %}
