{% extends 'home/base.html' %}

{% block content %}
<div class="container mt-5">
	<div class="container">
		<div class="row">
			<div class="blog pt-5">
				<h2>Ven Yalagamuwe-Dhammissara-Anunayaka-Thero</h2>
			</div>
		</div>
	</div>
</div>
<section id="services">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="box wow fadeInRight">
					<div class="icon"><img class="lec_img mr-5" src="/media/Devananda_Thero.jpg"/></div>
					<h4>Profile: </h4>
					<ul>
						<li>1983  Graduated from The Buddhist and Pali University of Sri Lanka</li>
						<li>1989  Gruduated from The University of PERADENIYA, Sri Lanka</li>
						<li>1985～1986  Headmaster of Sri DHAMMANANDA Pirivena (Sri DHAMMANANDA monastic college) in Badulla, Uva province, Sri Lanka</li>
						<li>1990～2003 Chief Incumbent of Japan Sri Lanka International Buddhist Center in Setagaya-ward, Tokyo, Japan</li>
						<li>1997～  Japan Sangha chief of UDARATA AMARAPURA Maha Nikayara</li>
						<li>2000～  Chief Incumbent of VIHARAGODA DIMBULANA PURANA Viharaya (temple) in Badulla, Uva province, Sri Lanka　 </li>
						<li>2003　 Appointed the Executive of  UDARATA AMARAPURA Maha Nikayara</li>
						<li>2003～  Chief Incumbent of the Sakamuni International Buddhist Center in Hachioji-city, Tokyo, Japan</li>
						<li>2008～  Director of Sri DHAMMANANDA Vidyatana Pirivena ( Sri DHAMMANANDA university-preparatory school) in Badulla, Uva province, Sri Lanka</li>
						<li>2008〜　Hon. President & Chief Sanghanayaka of NGO Japan Sri Lanka International Cultural and Social Development Foundation（JSICSF）</li>
						<li>2010～　Anunayake (Vice President ) of UDARATA AMARAPURA Maha Nikayara</li>
					</ul>
					<br>
					<div class="ml-0"> 
						<h4> Subjects: </h4>
						<p> Buddhist Social Dimensions, Diploma course 2020 </p>
						<p> Pali Language (very basic)</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
<div class="d-flex flex-row-reverse">
		      <div class="p-2">
			      <a href="https://www.facebook.com/sharer/sharer.php?u=http://pali.dreamdelight.co.jp/instructor/Ven.Yalagamuwe-Dhammissara-Anunayaka-Thero">
				      <i class="fa fa-facebook pr-2"></i>
			      </a>
		      </div>
	      </div>
{% endblock %}
