{% extends 'home/base.html' %}

{% block content %}
<div class="container mt-5">
	<div class="container">
		<div class="row">
			<div class="blog pt-5">
				<h2>Ven. Paranagama Seewaleedhamma Thero</h2>
			</div>
		</div>
	</div>
</div>
<section id="services">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="box wow fadeInRight">
					<div class="icon"><img class="lec_img mr-5" src="/media/Devananda_Thero.jpg"/></div>
					<br>
					<p class="description ml-0"></p>
					<div class="ml-0"> 
						<h4> Subjects: </h4>
						<p> Buddhist Social Dimensions, Diploma course 2020 </p>
						<p> Pali Language (very basic)</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
<div class="d-flex flex-row-reverse">
		      <div class="p-2">
			      <a href="https://www.facebook.com/sharer/sharer.php?u=http://pali.dreamdelight.co.jp/instructor/Ven.Paranagama-Seewaleedhamma-Thero">
				      <i class="fa fa-facebook pr-2"></i>
			      </a>
		      </div>
	      </div>
{% endblock %}
