{% extends 'home/base.html' %}

{% block content %}
<div class="container mt-5">
	<div class="container">
		<div class="row">
			<div class="blog pt-5">
				<h2>Rev Makulelle Sugathananda Thero</h2>
			</div>
		</div>
	</div>
</div>
<section id="services">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="box wow fadeInRight">
					<div class="icon"><img class="lec_img mr-5" src="/media/Devananda_Thero.jpg"/></div>
					<p class="description ml-0">I have completed English medium B.A degree in Buddhist and Pāli University of Sri
					Lanka and followed English Language &Literature, Buddhist Philosophy and Pali as the
					subjects. Advanced Certificate Course in English was completed. I have completed one-year English medium MA degree (Buddhist Studies) in University
					of Kelaniya. I continue two-year English medium MA degree (Linguistics) in University of Kelaniya
					(one year finished). I have presented two presentations in the conferences held at our University. I have been regularly teaching in the English workshops for the Pirivena students
					conducted by the Department of English. I was the editor of ‘’AURORA” (Journal of English Studies) in 2016.
					</p>
					<br>
					<div class="ml-0"> 
						<h4> Subjects: </h4>
						<p>Geographical Expansion of Therayada Buddhism </p>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
<div class="d-flex flex-row-reverse">
		      <div class="p-2">
			      <a href="https://www.facebook.com/sharer/sharer.php?u=http://pali.dreamdelight.co.jp/instructor/Rev-Makulelle-Sugathananda-Thero">
				      <i class="fa fa-facebook pr-2"></i>
			      </a>
		      </div>
	      </div>
{% endblock %}
